@import url(./timer.css);
@import url(./button.css);

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: 1 0 auto;
}

.main-container_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 104%;

    color: #162C4E;
    
    opacity: 0.39;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-container_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: rgba(0, 0, 0, 0.8);
}


@media screen and (max-width: 1920px) and (min-width: 761px) {
    .main-container_title {
        font-size: 36px;
    }
    .main-container_text {
        font-size: 16px;
    }
}

@media screen and (max-width: 760px) and (min-width: 361px) {
    .main-container {
        margin: auto 20px;
    }
    .main-container_title {
        font-size: 36px;
        text-align: center;
    }
    .main-container_text {
        font-size: 16px;
        text-align: center;
    }
}

@media screen and (max-width: 360px) {
    .main-container_title {
        font-size: 16px;
        text-align: center;
    }
    .main-container_text {
        font-size: 14px;
        text-align: center;
    }
}