
.main-container_frame-timer {
    display: flex;
    flex-direction: row;
    margin-top: 36px;
    margin-bottom: 68px;
}

.count {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;

    color: #162C4E;
}

.frame-timer_wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400; 
    line-height: 100%;

    color: #FFFFFF;
}

@media screen and (min-width: 1921px) {
    .frame-timer_wrap {
        max-width: 132px;
        max-height: 54px;

        background-image: url('../../images/Vector-times.svg');

        font-size: 16px;  
    }
    .mobile {
        display: none;
    } 
}

@media screen and (max-width: 1920px) and (min-width: 361px) {
    .count {
        font-size: 36px;
    }
    .frame-timer_wrap {
        width: 64px;
        height: 40px;

        background-size: cover;
        background-image: url('../../images/Vector-times_mini.svg');
        
        font-size: 12px;  
    }

    .desktop {
        display: none;
    }

}

@media screen and (max-width: 360px) {
    .count {
        font-size: 18px;
    }
    .frame-timer_wrap {
        width: 44px;
        height: 27px;

        background-size: cover;
        background-image: url('../../images/Vector-times_mini.svg');
        
        font-size: 12px;  
    }

    .desktop {
        display: none;
    }
}