@import url(./header/header.css);
@import url(./main/main.css);
@import url(./footer/footer.css);


.wrapper {
  display: flex;

  flex-direction: column;
  height: 100%;
}

.frame{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100%;

  z-index: -1000;
}

.frame_background_left {
  background-image: url('../images/Vector.svg');
}

.frame-background_right {
  background-image: url('../images/Vector-right.svg');
}

@media screen and (min-width: 1920px) {
.frame_background_left {
  height: 419px;
  width: 468px;
}

.frame-background_right {
  height: 288px;
  width: 233px;
}
}


@media screen and (max-width: 1920px) and (min-width: 761px) {
  .frame_background_left {
    height: 223px;
    width: 250px;
    background-size: contain;
  }
  
  .frame-background_right {
    height: 241px;
    width: 230px;
    background-size: cover;
  }
}

@media screen and (max-width: 760px) {
  .frame_background_left {
    height: 144px;
    width: 162px;
    background-size: contain;
  }
  
  .frame-background_right {
    height: 147px;
    width: 140px;
    background-size: cover;
  }
}